---
Checks:          '*,-fuchsia-*,-google-*,-zircon-*,-abseil-*,-modernize-use-trailing-return-type,-llvm-*,-llvmlibc-*,-hicpp-uppercase-literal-suffix,-readability-uppercase-literal-suffix,-misc-non-private-member-variables-in-classes'
WarningsAsErrors: '*'
HeaderFilterRegex: '.'
FormatStyle:     none


